<h1>Sign Up</h1>
<%= form_tag '/users', method: :post do %>
    <div>
    Name: <input type="text" name="name">  
    </div>
    <div>
    Email: <input type="email" name="email">  
    </div>
    <div>
    Password: <input type="password" name="password">  
    </div>
    <div>
    Confirm Password: <input type="password" name="password_confirmation">  
    </div>
    <div>
     <input type="submit" name="Sign Up">  
    </div>
  <% end %>


  <div class="row show-page-row">
<div class="col-md-4"><p></p></div>
<div class="col-md-4">
<div class="hidden" id="hidden-content-sub">
  ... .. . ... what happened?  ... .. . ...
</div>
</div>
<div class="col-md-4"><p></p></div>
<div id="main-content-sub"></div></div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
  let hiddenMessage = document.querySelector('#hidden-content-sub').innerHTML;
  let mainMessage = document.querySelector('#main-content-sub');
  let counterLimit = hiddenMessage.length;
  let counter = 0;
  let runner = setInterval(addLetter, 100);

  function addLetter() {
    mainMessage.innerHTML += hiddenMessage[counter];
    counter++;
    if (counter >= counterLimit) { clearInterval(runner); }
  }
});
</script>