.alert-danger {
    text-align: center;
  }

.alert-success {
  text-align: center;
}

.alert-warning {
  text-align: center;
}

.show-page-row {
  text-align: center;
}

.doorknob {
  background-color: black;

}

